@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background-color: brown;
    /*background-image: url(img/bg.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.container video{
    position: absolute;
    top: 0; left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}
.container-content{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 20px;
    height: auto;
    background: rgba( 74, 144, 226, 0.1 );
    /*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-width: 1000px;
    z-index: 99;
}
.card-left{
    flex: 0 0 50%;
}
.card-left .logo{
    padding-top: 20px;
}
.card-left .logo .fa{
    color: crimson;
    font-size: 3em;
}
.card-left .logo h3{
    color: navy;
    letter-spacing: 1px;
}
.card-left .title{
    padding-top: 10px;
    text-align: center;
}
.card-left .title h1{
    color: navy;
    font-weight: 700;
}
.card-left .title p{
    color: crimson;
}


form{
    padding-top: 20px;
}
.form-control label{
    color: #9932CC;
    font-size: 1em;
    font-weight: 700;
    position: relative;
    display: block;
    text-transform: uppercase;
}
.form-control{
    position: relative;
}
.form-control input, .form-control select{
    border: 1px solid #000;
    width: 80%;
    height: 30px;
    display: block;
    margin-bottom: 15px;
}
.form-control input:focus, .form-control select:focus{
    outline: 0;
}



  
.form-control #validate, .form-control #valida, .form-control #age, .form-control #pass {
    color: red;
    font-size: 15px;
    font-weight: 300;
    /*position: absolute;
    bottom: 0;
    left: 0;
    top: 1;
    visibility: hidden;*/
}
  
.form-control.error small {
    visibility: visible;
}






form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 900;
    border: none;
    border-radius: 50px;
    color: #fff;
    background: #7BC6CC;
    margin-top: 20px;
    cursor: pointer;
}
form button:hover{
    color: #7BC6CC;
    background: #000;
}
.footer-left{
    padding-top: 10px;
    margin-bottom: 20px;
}
.footer-left p{
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    display: block;
}
.footer-left a{
    text-decoration: none;
    color: #C193C5;
}
.footer-left a:hover{
    color: orangered;
}
.card-right .right-title .fa{
    color: #9932CC;
    font-size: 7em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-right .right-title h1{
    text-align: center;
    color: #9932CC;
    font-size: 4.5em;
}
.right-content{
    text-align: center;
    color: #fff;
    font-weight: 700;
}







@media (max-width: 950px){
    .container{
        height: auto;
    }
    .container video{
        min-height: 170vh;
    }
    .container-content{
        padding-top: 50px;
    }
    .card{
        width: 80%;
        flex-direction: column-reverse;
        margin-left: auto;
        margin-right: auto;
    }
    .card-right{
        width: 100%;
    }
    .card-right .right-title h1{
        font-size: 2em;
    }
}

@media (max-width: 425px){
    .container video{
        min-height: 200vh;
    }
}


@media (max-width: 325px){
    .container video{
        min-height: 230vh;
    }
}